---
layout: layout.liquid
title: Home
---
<h1><strong>Everyday Carry</strong></h1>

<h1>Things I can't live without</h1>

<img alt="item One" src="/images/itemOne.jpg" width="390" />
<img alt="item Two" src="/images/itemTwo.jpg" width="300" />
<img alt="item Three" src="/images/itemThree.webp" width="300" />

<ul>
    <li>Keys</li>
    <li>Shoes</li>
    <li>Headphones</li>
</ul>