---
layout: layout.liquid
title: Home
---
<h1><strong>Everyday Carry</strong></h1>

<h1>Things I can't live without</h1>

<img alt="item One" src="/images/itemOne.jpeg" width="300" />
<img alt="item Two" src="/images/itemTwo.jpeg" width="300" />
<img alt="item Three" src="/images/itemThree.jpeg" width="300" />

<ul>
    <li>Keys</li>
    <li>Shoes</li>
    <li>Headphones</li>
</ul>