---
layout: layout.liquid
title: Home
---
<h1><strong>Everyday Carry</strong></h1>

<h1>Things I can't live without</h1>

<div class="homepage-images">
    {% figure "/images/itemOne.jpeg", "Keys", "Keys for getting around" %}
    {% figure "/images/itemTwo.jpeg", "Crocs", "Comfortable everyday shoes" %}
    {% figure "/images/itemThree.jpeg", "Headphones", "Headphones for listening to lectures and music" %}
</div>